html, body, #wrap {
    height: 100%;
    color: #757575;
    font-family: ProximaNova,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    width: 1400px;
    margin: 0 auto;
}

body > #wrap {
    height: auto;
    min-height: 100%;
}

h1 {
    color: #333;
    font-size: 42px;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
    text-align: center;
}

table {
    margin-top: 20px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 6px;
    text-align: left;
}

#links {
    float: left;
}
#lang {
    float: right;
}

#header {
    padding: 20px;
    background-color: #efefef;
    text-transform: uppercase;
}

#main {
    padding-top: 25px;
    padding-bottom: 100px;
}

#footer {
    text-transform: uppercase;
    width: 1400px;
    background-color: #efefef;
    position: relative;
    margin-top: -60px;
    height: 40px;
    padding-top: 20px;
    padding-left: 20px;
    clear: both;
}

